.main {
  display: flex;
  flex-direction: row;
}

.controls {
  width: 200px;
  padding: 20px;
  margin-right: 50px;
  border: 1px solid black;
}


.actions button {
  display: block;
  width: 200px;
  height: 40px;
  margin-bottom: 10px;
}

.widgets > *{
  width: 400px;
}

.batch-size {
  display: flex;
  flex-direction: row;
  height: 40px;
  margin-bottom: 10px;
  width: 200px;
}
.batch-size input {
 text-align: center;
  width: 100px;
}
.batch-size button {
  width: 100px;
}
